@using Apilane.Web.Portal.Models;
@using Apilane.Common.Models;
@model DBWS_Entity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DBWS_Application Application = ViewBag.Application;
}

<div class="clearfix">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Application.Server.Name</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Applications")">Applications</a></li>
                        <li class="breadcrumb-item"><a href="@Url.RouteUrl("AppRoute", new {controller = "Application", action = "Entities", appid = Application.Token })">@Application.Name</a></li>
                        <li class="breadcrumb-item active">@Model.Name</li>
                    </ol>
                </nav>
            </div>
            <div class="row clearfix">
                <div class="col-12 col-xl-6">

                    <div class="card">
                        <h4 class="card-header">
                            Edit entity @Model.Name
                        </h4>
                        <div class="card-body">
                            @using (Html.BeginRouteForm("EntRoute", new { controller = "Entity", action = "Edit", appid = Html.GetAppToken(), entid = Model.Name }, FormMethod.Post, true, new { role = "form" }))
                            {
                                @Html.HiddenFor(m => m.ID)
                                @Html.HiddenFor(m => m.Name)
                                @Html.HiddenFor(m => m.AppID)

                                <div class="form-group mb-3">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description (optional)" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                </div>
                                if (Model.AllowPut())// If allow change tracking
                                {
                                    <div class="form-group mb-3">
                                        <div class="form-check form-switch">
                                            @Html.CheckBoxFor(m => m.RequireChangeTracking, new { @class = "form-check-input" })
                                            <label class="form-check-label" for="RequireChangeTracking">
                                                @Html.LabelFor(m => m.RequireChangeTracking)
                                                <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Check if every update (PUT) on any record of this Entity should be tracked. You can browse history records through Data Browser. You can delete existing history records to free space."></i>
                                                <i class="bi bi-exclamation-triangle text-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Change tracking affects performance significantly, for that reason it is advised to be used only for Entities that are not frequently updated."></i>
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.RequireChangeTracking, "", new { @class = "text-danger" })
                                    </div>
                                }
                                <br>
                                <div class="form-group mb-3">
                                    @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                                </div>
                            }
                            <button type="submit" class="btn_save btn btn-primary" title="Save">
                                <i class="bi bi-floppy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

