@using Apilane.Web.Portal.Models;
@using Apilane.Common.Models;
@model DBWS_EntityProperty

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DBWS_Application Application = (DBWS_Application)ViewBag.Application;
    DBWS_Entity Entity = (DBWS_Entity)ViewBag.Entity;
}

<div class="clearfix">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Application.Server.Name</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Applications")">Applications</a></li>
                        <li class="breadcrumb-item"><a href="@Url.RouteUrl("AppRoute", new {controller = "Application", action = "Entities", appid = Application.Token })">@Application.Name</a></li>
                        <li class="breadcrumb-item"><a href="@Url.RouteUrl("EntRoute", new { controller = "Entity", action = "Properties", appid = Application.Token, entid = Entity.Name })">@Entity.Name</a></li>
                        <li class="breadcrumb-item active">@Model.Name</li>
                    </ol>
                </nav>
            </div>
            <div class="row clearfix">
                <div class="col-12 col-xl-6">
                    <div class="card">
                        <h4 class="card-header">
                            Delete property @Model.Name?
                        </h4>
                        <div class="card-body">
                            @if (Model.IsSystem)
                            {
                                <div class="form-group mb-3">
                                    This property is part of a module and cannot be deleted.
                                </div>
                            }
                            else
                            {
                                using (Html.BeginRouteForm("PropRoute", new { controller = "Property", action = "Delete", appid = Html.GetAppToken(), entid = Html.GetEntName() }, FormMethod.Post, true, new { role = "form" }))
                                {
                                    @Html.HiddenFor(m => m.ID)
                                    @Html.HiddenFor(m => m.Name)
                                    @Html.HiddenFor(m => m.EntityID)

                                    <div class="alert alert-danger">
                                        <strong>Warning!</strong> All associated data will be lost. This action is not reversible!
                                    </div>
                                    <br>
                                    <div class="form-group mb-3">
                                        @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                                    </div>
                                }

                                <button class="btn_delete_property btn btn-danger" title="Save">
                                    <i class="bi bi-trash"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        var name = '@Model.Name';
        $('button.btn_delete_property').on('click', function () {
            Swal.fire({
                title: "Confirm",
                text: "Please type the property name",
                input: "text",
                showCancelButton: true,
                confirmButtonText: 'Delete',
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn'
                },
                inputValidator: (value) => {
                    if (!value || value != name) {
                        return `You need to write '${name}'`;
                    }
                }
            }).then((submit) => {
                if (submit.isConfirmed && submit.value === name) {
                    $('button.confirm').attr('disabled', true);
                    var frm = $("form");
                    frm.submit();
                }
                return false;
            });
        });

    </script>
}