@using Apilane.Common.Models;
@using Apilane.Common.Utilities;
@model Apilane.Web.Api.Areas.Account.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";

    DBWS_Application Application = (DBWS_Application)ViewBag.Application;
}

@using (Html.BeginForm("ResetPassword", "Manage", new { Token = ViewBag.Token }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    <h2 class="text-center mb-3">@Application.Name</h2>

    <div class="text-center mb-3">
        Reset your password
    </div>
    <div class="form-group mb-3">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = 50, placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mb-3">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mb-3">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mb-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary btn-block" type="submit">Reset</button>
}