@using Apilane.Portal.Models;
@using Apilane.Portal.Abstractions;
@inject IPortalSettingsService _portalSettingsService;
@{ 
    var portalSettings = _portalSettingsService.Get();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@portalSettings.InstanceTitle | @ViewBag.Title</title>
    <link rel="icon" href="@Url.Action("~/favicon.ico")" type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/data.min.css?v=@Html.AssemblyVersion()" />
    @RenderSection("styles", required: false)
</head>
<body>

    <section class="content" style="margin:0;">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    
</body>
<script type="text/javascript" src="~/data.min.js?v=@Html.AssemblyVersion()"></script>
    @RenderSection("scripts", required: false)
    @Html.PageScripts()
</html>


<style>
    body {
        font-family: 'Roboto', Arial, Tahoma, sans-serif;
    }
</style>